/* Add this to your style.css */
body {
    background-color: #514b4b; /* This changes the background color */
    color: #6f3ca4; /* This changes the text color */
    font-family: 'Source Sans Pro', sans-serif; /
  }