/* Add this to your style.css */
body {
    background-color: #f0f0f0; /* This changes the background color */
    color: #E6DDD6; /* This changes the text color */
    font-family: 'Source Sans Pro', sans-serif; /
  }